
* {
	box-sizing: border-box;

	&:before,
	&:after {
	box-sizing: border-box;
	}
}

.is-loaded {
	color: firebrick;
}

.blathers-result {
	color: firebrick;
	background-color: #eee;
	width: 80%;
	margin: 20px auto;
	padding: 1em;
	min-height: 5em;
}
